SUBSYSTEM=="leds", KERNEL=="platform::micmute", RUN+="/usr/bin/chmod 0660 /sys/class/leds/platform::micmute/brightness", RUN+="/usr/bin/chgrp input /sys/class/leds/platform::micmute/brightness"
